/* New York Times - news style */

* {
	margin: 0;
	padding: 0;
}

body {
	background: white;
	font-family: Arial, sans-serif;
	font-size: 16px;
}

h1 {
	color: black;
	font-family: Georgia, Times, serif;
	font-size: 30px; 
	padding: 10px;
}

#btn {
	text-align: center;
    height: 45px;
    width: 110px;
    font-size: 14px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#ny-info {
	width:  960px;
	margin: 0 auto;
}

.article.title {
	font-family: Arial, sans-serif;
	font-size: 20px;
	background: white;
	text-transform: uppercase;
}

.article.image {
	width: 100%;
    height: auto;
    padding-top: 10px;
}

.article.description {
	font-family: Arial, sans-serif;
	font-size: 18px;
	text-transform: lowercase;
	padding: 10px;
}

.article.author {
    font-family: Arial, sans-serif;
	font-size: 16px;
	text-transform: capitalize;
	padding: 10px;
}

.article.publishedAt {
	font-size: 10px;
	font-family: Arial, sans-serif;
	padding: 10px;
}

@media screen and (max-width: 960px) {
	#ny-info {
		width: 100%;
		margin: 0;
	}
}
